.yearPicker {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 3rem;
  overflow-y: auto;
}

.monthPicker {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 4rem;
}

.dayPicker {
  row-gap: 2px;
  display: grid;
  grid-template-columns: repeat(7, 2.25rem);
  grid-template-rows: repeat(7, 2.25rem);
  text-align: center;
  align-items: center;
}

.day {
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  transition: 0.2s;
}

.month {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.25rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  transition: 0.2s;
}

.year {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  transition: 0.2s;
}

.year:hover, .month:hover, .day:hover {
  background-color: rgba(25, 118, 210, 0.08);
}

.year:active, .month:active, .day:active {
  background-color: rgba(25, 118, 210, 0.14);
}


.year._active, .month._active, .day._active{
  color: #ffffff;
  background-color: #1976d2;
}

.year._disabled, .month._disabled, .day._disabled{
  color: #999999;
  pointer-events: none;
}

.year._middleRange, .month._middleRange, .day._middleRange{
  color: #ffffff;
  background-color: #1976d2;
  border-radius: 0;
}

.year._startRange, .month._startRange, .day._startRange{
  color: #ffffff;
  background-color: #1976d2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.year._endRange, .month._endRange, .day._endRange{
  color: #ffffff;
  background-color: #1976d2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.day._current {
  border: 1px solid #1976d2aa;
}
